:root {
    --primary: #fff;
    --accent: #504842;
    --tint: #AB3541;
    --background: #B4C277;
    --text-background: #F9FBE9;
	--banner: #0fa;
	--banner-close: #064b17;
	--banner-glow: #f09;
}

@keyframes pulsate {
	100% {
	  /* Larger blur radius */
	  text-shadow:
		0 0 4px #fff,
		0 0 11px #fff,
		0 0 19px #fff,
		0 0 40px var(--banner-glow),
		0 0 80px var(--banner-glow),
		0 0 90px var(--banner-glow),
		0 0 100px var(--banner-glow),
		0 0 150px var(--banner-glow);
	}
   0% {
	  /* A slightly smaller blur radius */
	  text-shadow:
		0 0 4px #fff,
		0 0 10px #fff,
		0 0 18px #fff,
		0 0 38px var(--banner-glow),
		0 0 73px var(--banner-glow),
		0 0 80px var(--banner-glow),
		0 0 94px var(--banner-glow),
		0 0 140px var(--banner-glow);
	}
  }

.adv-container {
	height: 35vh;
	display: flex;
	justify-content: center;
	gap: 6vw;
	align-items: center;
	font-size: 1.3em;
	background-color:#010a01;
}

.banner {
	width: 30%;
	margin: 2vw 7vh;
	border: 0.2rem solid #fff;
	border-radius: 2rem;
	padding: 0.4em;
	box-shadow: 0 0 .2rem var(--banner),
				0 0 .2rem var(--banner),
				0 0 2rem var(--banner),
				0 0 0.8rem var(--banner),
				0 0 2.8rem var(--banner),
				inset 0 0 1.3rem var(--banner);
	text-align: center;
	color: #fff;
	text-shadow: 
		0 0 7px var(--banner-close),
		0 0 10px var(--banner-close),
		0 0 21px var(--banner-close),
		0 0 42px var(--banner),
		0 0 82px var(--banner),
		0 0 92px var(--banner),
		0 0 102px var(--banner),
		0 0 151px var(--banner);
  }

.bigger-text {
	font-size: 1.3em;
	animation: pulsate 0.11s ease-in-out infinite alternate; 
}

@media screen and (prefers-reduced-motion) { 
	h1 {
	  animation: none;
	}
  }