:root {
    --primary: #fff;
    --accent: #504842;
    --tint: #AB3541;
    --background: #B4C277;
    --text-background: #F9FBE9;
}

.btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: 'Lobster';
}

/*btn color*/
.btn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
}

.btn--outline  {
    background-color: var(--tint);
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--tint);
    transition: all 0.3s ease-out;
}

/*btn size*/
.btn--medium {
    padding: 8px 20px;
    font-size: 20px;
}

.btn--large {
    padding: 12px 26px;
    font-size: 20px;
}

/*hover effects*/
.btn--medium:hover, .btn--large:hover {
    background-color: #fff;
    color: var(--tint);
    transition: all 0.3s ease-out;
}

.btn--large:hover {
    background-color: transparent;
    color: #fff;
    transition: all 0.3s ease-out;
}
