
:root {
  --primary: #fff;
  --accent: #504842;
  --tint: #AB3541;
  --background: #B4C277;
  --text-background: #F9FBE9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bitter", sans-serif;
}

h2 {
  text-align: center;
	color: var(--tint);
	font-weight: bold;
	text-transform: uppercase;
}

/*PAGES*/
.home,
.garlic,
.onion,
.order{
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
  justify-content: start;
  font-size: 1em;
}

/* 
.products {
  background-image: url('./images/img-1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
} */

.order {
  background-image: url('./images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--primary);
  font-size: 100px;
}

/* GARLIC */
.garlic{
  background-image: url('./images/garlic/garlic-bckg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--accent);
  font-size: .8em;
}

.garlic >h1 {
  font-size: 10em;
  text-transform: uppercase;
  color: var(--primary);
  margin-top: 30vh;
}

/*MEDIA*/

@media screen and (max-width: 960px) {
  body{
    font-size: .8em;
  }
}

@media screen and (max-width: 768px) {
  body{
    font-size: .7em;
  }
}


