
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bitter", sans-serif;
}

h2 {
  text-align: center;
	color: var(--tint);
	font-weight: bold;
	text-transform: uppercase;
}

/*PAGES*/
.home,
.services,
.products,
.sign-up {
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
  justify-content: start;
  font-size: 1em;
}


.products {
  background-image: url('./images/img-1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.order {
  background-image: url('./images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

/*SERVICES*/
.services {
  background-image: url('./images/delivery.svg');
  background-position: center;
  background-size: 50vw;
  background-repeat: no-repeat;
  color: var(--accent);
  font-size: .8em;
}

.delivery >h2, .payment >h2 {
	font-size: 56px;
  margin-top: 10vh;
}